{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block styleblock %}
	<style type="text/css">		
		.gallery {
		    -webkit-column-count: 3;
		    -moz-column-count: 3;
		    column-count: 3;
		    -webkit-column-width: 33%;
		    -moz-column-width: 33%;
		    column-width: 33%; }
		.gallery .pics {
		    -webkit-transition: all 350ms ease;
		    transition: all 350ms ease; }
		.gallery .animation {
		    -webkit-transform: scale(1);
		    -ms-transform: scale(1);
		    transform: scale(1); }

		@media (max-width: 450px) {
		    .gallery {
		        -webkit-column-count: 1;
		        -moz-column-count: 1;
		        column-count: 1;
		        -webkit-column-width: 100%;
		        -moz-column-width: 100%;
		        column-width: 100%;
		    }
		}

		@media (max-width: 400px) {
		    .btn.filter {
		        padding-left: 1.1rem;
		        padding-right: 1.1rem;
		    }
		}
	</style>
{% endblock %}
{% block content %}
	<h1>Pined Images</h1>
	<div class ="gallery" id = "gallery">
		<div class = "mb-3 pics animation all 2">
			<div class = "thumbnail">
				{% if request.user.is_authenticated %}
					{% for image in images %}
						<img src="{{image.url}}" class="img-fluid bounceIn" style="width:100%" >
						<div class = "caption">
							<p>by {{image.user}}...</p>
						</div>
						<div class = "dot"></div>
					{% endfor %}
				{% else %}
					{% for image in images %}
							<img src="{{image.url}}" class="img-fluid bounceIn" style="width:100%" >
						<div class = "caption">
							<p>by {{image.user}}...</p>
						</div>

					{% endfor %}		
				{% endif %}
			</div>
		</div>

	</div>	
				
{% endblock %}