{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block content %}
	{% if request.user.is_authenticated %}
		<h1>Pined Images</h1>
		<br>
		<div class="container">
			<div class="gallery">
				{% for image in images %}
					<div class="card">
						<div class="card-header">
							<div class="gallery-item" tabindex=0>
								<img src="{{image.url}}" class="gallery-image" alt="">
							</div>
						</div>
						<div class="card-body">
							<p class="card-text mb-2">{{image.title}}</p>
							<p class="card-text"><i class="far fa-clock pr-2"></i>{{image.created}}</p>
							<p class="card-text">by <strong>{{image.user}}</strong></p>
							<p>{{image.description}}</p>
						</div>
						<div class="card-footer">
					        <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}